name: CMake (Windows MSVC)

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        build_type: [ Release ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure CMake (MSVC)
        run: cmake -S . -B build -DCMAKE_CONFIGURATION_TYPES=${{ matrix.build_type }}

      - name: Build
        run: cmake --build build --config ${{ matrix.build_type }} --parallel

      - name: Test
        run: ctest --test-dir build -C ${{ matrix.build_type }} --output-on-failure
