name: Synopsys Intelligent Security Scan

on:
  push:
    branches: [ "main", "develop" ]
  workflow_dispatch:

jobs:
  synopsys-io:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Synopsys Intelligent Security Scan
        uses: blackduck-inc/intelligent-security-scan@2023.3.3
        with:
          ioServerUrl: ${{ secrets.IO_SERVER_URL }}
          ioServerToken: ${{ secrets.IO_SERVER_TOKEN }}
          stage: IO
